.blocks__review{
  width: 100%;
  height: 840px;
  /*background: red;*/
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}
.blocks__review .text{
  padding: 10px;
  text-align: center;
  color: #554;
}

.blocks__review .block__title-slider{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.review{
  display: flex;
  flex-direction: column;
}
.review img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
.block__title-slider .btn__slider small:nth-child(1){
  cursor: pointer;
  position: absolute;
  width: 40px;
  top: 0px;
  right:70px;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-image: url('../images/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
}
.block__title-slider .btn__slider small:nth-child(2){
  cursor: pointer;
  position: absolute;
  width: 40px;
  top: 0px;
  right:0px;
  border: none;
  padding: 12px 30px;
  background-color:#6EB5C0;
  border-radius: 6px;
  background-image: url('../images/arrow-rigth.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
}


.block__item{
  width: 100%;
  height: auto;
  gap: 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.block__item::-webkit-scrollbar{
  display: none;
}
.block__item .review{
  min-width: 25%;
  height: auto;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;

}

.description{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 30px;
}
.block__title-slider h2{
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #000000;
  &::after{
    position: absolute;
    display: flex;
    content: "";
    top: 24px;
    width: 100%;
    height: 2px;
    color: #6EB5C0;
    background-color: #6EB5C0;
  }
}
@media (max-width: 768px) {

  .block__title-slider h2{
    font-size: 25px;
    &::before{
      content: "";
      width: 10px;
      height: 2px;
      color: #6EB5C0;
      background-color: #6EB5C0;
    }
  }
  .block__item .review {
    min-width: 100%;
    margin:  0 10px  0 0;
  }
}
@media (min-width: 1440px) {
  .block__item{
    gap: 40px;
  }
  .description{
    max-width: 350px;
  }
  .review img{
    width: 350px;
  }
}