// .slider__section{
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

// .block__arrow-modile{
//   display: flex;
//   position: relative;
//   width: 100px;
//   height: 25px;
// }

.btn__prev {
  content: "";
  position: absolute;
  width: 30px;
  border: none;
  top: 0px;
  right: 70px;
  padding: 12px 10px;
  background-color:#ffffff;
  background-image: url('../images/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn__next {
    content: "";
    position: absolute;
    width: 40px;
    top: 0px;
    right:0px;
    border: none;
    padding: 12px 30px;
    background-color:#6EB5C0;
    border-radius: 6px;
    background-image: url('../images/arrow-rigth.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}










//////////////////

.block__slider {
  width: 100%;
  height: 840px;
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}

.btn-left {
  content: "";
  position: absolute;
  width: 30px;
  border: none;
  top: 0px;
  right: 70px;
  padding: 12px 10px;
  background-color:#ffffff;
  background-image: url('../images/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-right {
  content: "";
  position: absolute;
  width: 40px;
  top: 0px;
  right:0px;
  border: none;
  padding: 12px 30px;
  background-color:#6EB5C0;
  border-radius: 6px;
  background-image: url('../images/arrow-rigth.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
}


//// slider
/// 
/// 

.blocks__review{
  width: 100%;
  height: 840px;
  /*background: red;*/
  margin: 10px auto;
  position: relative;
  padding: 5px 0;
}
.blocks__review .text{
  padding: 10px;
  text-align: center;
  color: #554;
}

.blocks__review .block__title-slider{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.review{
  display: flex;
  flex-direction: column;
}
.review img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
.block__title-slider .btn__slider small{
  font-size: 40px;
  margin: 0 5px;
  cursor: pointer;
  color: #555;
    width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
}
.block__title-slider .btn__slider small:hover{
  background: #222;
    color: white;
}
.block__item{
  width: 100%;
  height: auto;
  gap: 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.block__item::-webkit-scrollbar{
  display: none;
}
.block__item .review{
  min-width: 24%;
  height: 90%;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;

}

.description{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {

  .block__title-slider h2{
    font-size: 25px;
  }
  .block__title-slider .btn__slider small{
    font-size: 30px;
  }
  .block__item .review {
    min-width: 100%;
    margin:  0 10px  0 0;
  }
}