* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body.lock {
  overflow: hidden;
}
body {
  font-family: 'Montserrat',Arial, sans-serif;
  font-style: normal;
  min-width: 360px;
  overflow: auto;
  background-color:#FFFFFF;
  a {
  text-decoration: none;
  }
  .span{
    display: block;
    width: 100px;
    height: 100px;
  }
}